In [185]:
import pandas as pd

In [192]:
for i in range(37,39):
    print(i)
    try:
        fpl =pd.read_csv('/Users/moksh/PL Predictions/FPL/2019GW/gw{}.csv'.format(i))
    except:
        fpl =pd.read_csv('/Users/moksh/PL Predictions/FPL/2019GW/gw{}.csv'.format(i), encoding = 'iso-8859-1')
    fpl['id'] = fpl['name'].apply(lambda x:int(x.split('_')[-1]))
    try:
        fpl_players_19 =pd.read_csv('/Users/moksh/PL Predictions/FPL/players19.csv')
    except:
        fpl_players_19 =pd.read_csv('/Users/moksh/PL Predictions/FPL/players19.csv', encoding = 'iso-8859-1')
    
    fpl['team_id'] = fpl['id'].apply(lambda x: int(fpl_players_19[fpl_players_19['id']==x]['team'].values[0]))
    teams= pd.read_csv("/Users/moksh/PL Predictions/FPL/teams_list.csv")
    teams19 =teams[teams['season']=='2019-20']
    teams19.index = teams19['team']
    teams19 = teams19.drop('team', axis =1)
    fpl['team'] = fpl['team_id'].apply(lambda x: teams19['team_name'][x])
    fpl.to_csv('/Users/moksh/PL Predictions/FPL/2019GW/gw{}.csv'.format(i))

37
38

In [178]:
players = pd.read_csv('/Users/moksh/PL Predictions/FPL/players19.csv',  encoding= 'iso-8859-1' )

In [183]:
players[players['id']==402]['first_name']

636    Jonathan
Name: first_name, dtype: object

In [110]:
fbref

['Arsenal',
 'Bournemouth',
 'Brighton & Hove Albion',
 'Burnley',
 'Cardiff City',
 'Chelsea',
 'Crystal Palace',
 'Everton',
 'Fulham',
 'Huddersfield Town',
 'Leicester City',
 'Liverpool',
 'Manchester City',
 'Manchester United',
 'Newcastle United',
 'Southampton',
 'Tottenham Hotspur',
 'Watford',
 'West Ham United',
 'Wolverhampton Wanderers']

In [205]:
fpl =pd.read_csv('/Users/moksh/PL Predictions/FPL/2019GW/gw{}.csv'.format(20))

In [206]:
fpl

,Unnamed: 0,name,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,...,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,id,team_id,team
0,0,Ederson_Santana de Moraes_212,0,0,0,0,0.0,212,195,0,...,0,-67281,4322,71603,60,True,0,212,11,Man City
1,1,Xherdan_Shaqiri_194,0,0,0,0,0.0,194,194,0,...,0,542,919,377,63,True,0,194,10,Liverpool
2,2,Hugo_Lloris_340,0,0,0,0,0.0,340,197,0,...,0,-2029,58,2087,53,False,0,340,17,Spurs
3,3,Cenk_Tosun_146,0,0,0,0,0.0,146,196,0,...,0,-89,85,174,57,False,0,146,8,Everton
4,4,Callum_Robinson_453,0,0,10,0,17.0,453,195,1,...,1,-570,77,647,51,False,0,453,15,Sheffield Utd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
579,579,Grant_Hanley_277,0,0,10,0,0.0,277,197,2,...,1,1237,3686,2449,40,True,0,277,14,Norwich
580,580,Roberto_Pereyra_369,0,0,0,0,0.0,369,199,0,...,0,83,619,536,56,True,0,369,18,Watford
581,581,Sead_Kolasinac_3,0,0,0,0,0.0,3,191,0,...,0,-1303,6,1309,52,True,0,3,1,Arsenal
582,582,Stuart_Armstrong_323,0,0,2,0,1.1,323,198,0,...,1,300,385,85,52,True,0,323,16,Southampton
583,583,Rúben Diogo_da Silva Neves_414,0,0,8,0,0.8,414,194,1,...,1,-4146,2817,6963,53,False,0,414,20,Wolves